/* Body Styling, initial font family, color & alignment ( & Opacity ) */
body {
    margin: 0;
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    text-align: center;
}

/* ------------------------------------------------------------------------------------------------------------------------ */

/* Header & Nav Styling */
header {
    display: flex;
    width: 100%;
    position: fixed;
    align-items: center;
    z-index: 1;
    height: 69px;
    border-bottom: 1px solid seashell;
}

/* Logo Container */
header div {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 10px;
}

/* Pushing Links from right side of page */
header nav {
    padding-right: 20px;
}

/* Link alignment and spacing */
nav span {
    display: inline-block;
    align-items: center;
    margin-right: 20px;
}

/* Direct link styling */
.navLink {
    color: seashell;
    text-decoration: underline;
}

/* Logo Styling */
.logo img {
    height: 50px;
}

/* ------------------------------------------------------------------------------------------------------------------------ */

