/* Body Styling, initial font family, color & alignment ( & Opacity ) */
body {
    margin: 0;
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    text-align: center;
}

h2 {
    margin: 0;
    padding: 10px;
}

h4 {
    margin: 0;
    padding: 10px;
}

/* To save time later on - give the individual sections ID's, as they only show once. */
.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* ------------------------------------------------------------------------------------------------------------------------ */

/* Header & Nav Styling */
header {
    background-color: black;
    display: flex;
    width: 100%;
    position: fixed;
    align-items: center;
    z-index: 1;
    height: 69px;
    border-bottom: 1px solid seashell;
}

/* Logo Container */
header div {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 10px;
}

/* Pushing Links from right side of page */
header nav {
    padding-right: 20px;
}

/* Link alignment and spacing */
nav span {
    display: inline-block;
    align-items: center;
    margin-right: 20px;
}

/* Direct link styling */
.navLink {
    color: seashell;
    text-decoration: underline;
}

/* Logo Styling */
header div img {
    height: 50px;
}

/* ------------------------------------------------------------------------------------------------------------------------ */

/* Parent Container to all Body Content */
#mainContainer {
    width: 1200px;
    padding-top: 69px;
    margin: auto;
}

/* ------------------------------------------------------------------------------------------------------------------------ */

/* Container for the misson statement */
#missionContainer {
    height: 700px;
    width: 1200px;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
    flex-direction: column;
}

/* Mission Statement styling */
#missionContainer div {
    width: 100%;
    background-color: black;
}

/* ------------------------------------------------------------------------------------------------------------------------ */

/* Container for the Tea of the Month container */
#teaContainer {
    height: 700px;
    width: 1000px;
    margin: auto;
    padding-top: 70px;
}

/* Menu Item Div & Spacing Specs */
.menuItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Sizing for the menu item images */
.item img {
    height: 200px;
    margin: 10px;
    display: block;
}

/* Item Spacing */
.item {
    padding: 5px;
}

/* Originally used h4's but spans ended up being easier to style as a child element without styling other H4's */
/* Tea Title Style */
.item span {
    display: block;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}

/* ------------------------------------------------------------------------------------------------------------------------ */

/* Container to hold the location items */
#locationContainer {
    height: 500px;
    padding-top: 70px;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
}

/* locations container sizing*/
#locationContainer .locations {
    margin: auto;
    width: 1100px;
}

/* Setting the padding from the title */
.flex-container.locations {
    padding-top: 5px;
}

/* Individual location sizing and spacing */
.location {
    margin: 5px 20px;
    padding: 10px;
    display: flex;
    flex-basis: 280px;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    background-color: black;
}
