/* Body Styling, initial font family, color & alignment ( & Opacity ) */
body {
    margin: 0;
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    text-align: center;
}

h2 {
    margin: 0;
    padding: 10px;
}

h4 {
    margin: 0;
    padding: 10px;
}

/* ------------------------------------------------------------------------------------------------------------------------ */

/* Header & Nav Styling */
header {
    background-color: black;
    display: flex;
    width: 100%;
    position: fixed;
    align-items: center;
    z-index: 1;
    height: 69px;
    border-bottom: 1px solid seashell;
}

/* Logo Container */
header div {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 10px;
}

/* Pushing Links from right side of page */
header nav {
    padding-right: 20px;
}

/* Link alignment and spacing */
nav span {
    display: inline-block;
    align-items: center;
    margin-right: 20px;
}

/* Direct link styling */
.navLink {
    color: seashell;
    text-decoration: underline;
}

/* Logo Styling */
header div img {
    height: 50px;
}

/* ------------------------------------------------------------------------------------------------------------------------ */

/* Parent Container to all Body Content */
.mainContainer {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    top: 69px;
    text-align: center;
}

/* ------------------------------------------------------------------------------------------------------------------------ */

/* Container for the misson statement */
.missionContainer {
    height: 700px;
    width: 1200px;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Mission Statement styling */
.missionContainer div {
    width: 100%;
    background-color: black;
}